<mat-toolbar>
    <span>Change Password</span>
  </mat-toolbar>

  <h1 *ngIf="!isTokenVerified">Your Password Reset Link is Expired please request new one </h1>
  <mat-card class="my-card" *ngIf="isTokenVerified">
     <mat-card-content >
        <form [formGroup]="changePasswordForm"class="my-form">  
           <mat-form-field class="full-width">
              <mat-label>Email</mat-label>
              <input readonly  matInput  placeholder="Email" name="email" required formControlName="emailId">
           </mat-form-field>
           <mat-form-field class="full-width">
            <mat-label>Old Password</mat-label>
            <input  matInput  placeholder="old Password"  name="oldPassword" required formControlName="oldPassword">
            <mat-error *ngIf="handleError('oldPassword', 'required')">
               Please Enter <strong> old Password </strong>
              </mat-error>
              <!-- <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.errors?.passwordMismatch">
               Password not <strong> Matched </strong>
               </mat-error> -->
         </mat-form-field>
           <mat-form-field class="full-width" style="margin-bottom:100px;">
              <mat-label> New Password</mat-label>
              <input  matInput  placeholder="Password"  name="password" required formControlName="password">
              
              <mat-error *ngIf="handleError('password', 'required')">
                 Please Enter <strong> Password </strong>
               </mat-error>
               <!-- <mat-error *ngIf="changePasswordForm.controls.password.touched">
                  Password should contain mimnimum legnth{{appliedPassword.minlength}} characters, {{appliedPassword.noOfUppercaseLetters}} No Of uppercase , {{appliedPassword.noOfDigits}}No of digits , {{appliedPassword.noOfSpecialLetters}} no of special characters
               </mat-error> -->
               <mat-error style="background-color: rgb(255, 255, 255);" *ngIf="changePasswordForm.controls.password.dirty && changePasswordForm.controls.password.errors && !changePasswordForm.controls.password.errors?.required">
                 <i class="material-icons">
                  {{ changePasswordForm.controls.password.errors?.noOfDigits ? 'cancel' : 'check_circle' }}
                 </i> 
               Password should contain mimnimum  {{appliedPassword.noOfDigits}} No of digits 
               <br>
               <i class="material-icons">
                  {{ changePasswordForm.controls.password.errors?.noOfSpecialLetters ? 'cancel' : 'check_circle' }}
                 </i>
               Password should contain mimnimum  {{appliedPassword.noOfSpecialLetters}} No of special characters  
               <br>
               <i class="material-icons">
                  {{ changePasswordForm.controls.password.errors?.noOfUpperCase ? 'cancel' : 'check_circle' }}
                 </i>
               Password should contain mimnimum  {{appliedPassword.noOfUppercaseLetters}} No Of uppercase
               <br>
               <i class="material-icons">
                  {{ changePasswordForm.controls.password.errors?.minLength ? 'cancel' : 'check_circle' }}
                 </i>
               Password's mimnimum legnth Should not be less than {{appliedPassword.minlength}} characters
               <br>
               <i class="material-icons">
                  {{ changePasswordForm.controls.password.errors?.maxlength ? 'cancel' : 'check_circle' }}
                 </i>
               Password should not more than {{appliedPassword.maxlength}} characters
             </mat-error>
           </mat-form-field>

           <mat-form-field class="full-width">
            <mat-label>Confirm Password</mat-label>
            <input  matInput  placeholder="Confirm Password"  name="confirmPassword" required formControlName="confirmPassword">
            <mat-error *ngIf="handleError('confirmPassword', 'required')">
               Please Enter <strong> Confirm Password </strong>
              </mat-error>
              <mat-error *ngIf="changePasswordForm.controls.confirmPassword.touched && changePasswordForm.controls.confirmPassword.errors?.passwordMismatch">
               Password not <strong> Matched </strong>
               </mat-error>
         </mat-form-field>
        </form>
     </mat-card-content>
     <p *ngIf="error"> {{error}}</p>
     <p *ngIf="message"> {{message}}</p>
     <mat-card-actions>
        <button mat-raised-button  color="primary" (click)="onSubmit()" >Change Password</button>
     </mat-card-actions>
  </mat-card>