<mat-toolbar>
    <span>Forgot Password</span>
  </mat-toolbar>
  <mat-card class="my-card">
     <mat-card-content>
        <form [formGroup]="forgotPasswordForm"class="my-form">  
            <mat-form-field class="full-width">
                <mat-label>Email</mat-label>
                <input  matInput  placeholder="Email" name="email" required formControlName="emailId">
                <mat-error *ngIf="handleError('emailId','required')">
                Please Enter  <strong>  Email Id </strong>
                </mat-error>
                <mat-error *ngIf="handleError('emailId','email')">
                 Please Enter Valid<strong> Email</strong>
                </mat-error>
             </mat-form-field>
        </form>
     </mat-card-content>
     <p *ngIf="error"> {{error}}</p>
     <p *ngIf="message"> {{message}}</p>
     <mat-card-actions>
        <button mat-raised-button  color="primary"  [disabled]="!forgotPasswordForm.valid || message" (click)="onSubmit()">Submit</button>
     </mat-card-actions>
  </mat-card>